table.table.table-condensed
  thead
    tr
      th #
      th Design name
      th Actions
  tbody
    each fileName, index in viewModel.fileManager.getFiles()
      tr
        th= index+1
        td= fileName
        td
          a.btn.btn-success.btn-xs(href="/controller/loadFile?filename="+fileName)
            i.fa.fa-print
          | &nbsp;
          a.btn.btn-danger.btn-xs(href="/controller/deleteFile?filename="+fileName)
            i.fa.fa-trash